.search-form {
  padding: 1.5rem;
}

.card-toy-item {
  margin-top: 16px;
}

footer {
  background-color: #212529;
  color: #f8f9fa;
}

footer * {
  color: #f8f9fa;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.card-img-top {
  aspect-ratio: 3/2;
  object-fit: contain;
}