<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 16px;">
  <a class="navbar-brand" href="/">ATN Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light rounded-4">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">ATN Store</h1>
    <p class="lead fw-normal">ATN is a Vietnamese enterprise, sells toys to adolescents in numerous provinces across
      Vietnam and generates an annual
      revenue of more than $700,000.</p>
    <a class="btn btn-outline-secondary" href="/category">Find More</a>
  </div>
</div>